@media screen and (max-width:1024px) {
.footer-nav{
    display: flex;
    justify-content: center;
    gap: 150px;
}
}
@media screen and (max-width:780px) {
.footer-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: small;
}
main input{
    width: 270px;
    border: none;
    outline: none;
}
.search-bar{
    width: 350px;
    height: 30px;
    display: flex;
    gap: 5px;
    padding: 5px 10px;
}
}




@media screen and (max-height:400px) and  (orientation:landscape) {
    body{
        overflow: auto;
    }
    .footer-nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        font-size: small;
    }
    main input{
        width: 270px;
        border: none;
        outline: none;
    }
    .search-bar{
        width: 350px;
        height: 30px;
        display: flex;
        gap: 5px;
        padding: 5px 10px;
    }
    footer{
        position: relative;

    }
    }



@media screen and (max-width:480px) {
    main img{
        width: 272px; 
        height: 92px;
        margin-bottom: 25px;
    }
.footer-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: small;
    gap: 10px;
}
main input{
    width: 270px;
    border: none;
    outline: none;
}
.search-bar{
    width: 350px;
    height: 30px;
    display: flex;
    gap: 5px;
    padding: 5px 10px;
}
.disable-option{
    display: none;
}
}